
<%= render 'common/search_form' %>

<div class="span8 offset2">

<h2>Customers</h2>

<%= render 'customer' %>

<%= link_to "Add Customer", new_customer_path, class: 'btn btn-large btn-success' %>

</div>