<div class="span6">

<table class="table table-bordered table-striped">
	<tr>
		<th>Name</th>
		<th>Price</th>
	</tr>

	<tr>
		<td><%= @product.name %></td>
		<td><%= @product.price %></td>
	</tr>
</table>

<%= link_to "Back", products_path, class: 'btn' %>
</div>
